<!--<eui-button (click)="genRoutes()">Gen</eui-button>
<br />
@for (route of routes; track routes) {
  <span>{{ route }}</span>
  <br />
}-->
<div class="bg-slate-900">
  <eui-section class="text-accent">
    <footer class="flex min-w-[80%] flex-col items-center justify-between p-4">
      <div class="flex w-full flex-row justify-between">
        <div class="flex items-center">
          <a href="#hero">
            <img
              src="/assets/logo.webp"
              class="aspect-square w-24 object-cover"
            />
          </a>
        </div>
        <div class="flex flex-col gap-y-2 text-right">
          <a href="#about">About</a>
          <a href="#experience">Experience</a>
          <a href="#portfolio">Portfolio</a>
          <a href="#testimonial">Testimonials</a>
          <a href="https://personal-blog-ten-bice.vercel.app/" target="_blank"
            >Blog <i class="fa-solid fa-arrow-up-right-from-square text-xs"></i
          ></a>
        </div>
      </div>
      <a href="https://azaber.com/" target="_blank" class="mx-auto"
        >Copyright © {{ currentYear }} Azaber All rights reserved</a
      >
    </footer>
  </eui-section>
</div>
