<div id="contact">
  <eui-section>
    <hr class="mx-auto my-5 w-4/5" />
    <eui-container>
      <h3 class="text-center text-5xl font-bold">Lets get in touch!</h3>
      <span class="my-5 mr-auto text-accent"
        >Whether you got a question, proposal or just want to say hi, go
        ahead.</span
      >
      <eui-col [rowStart]="'md'">
        <form
          action="https://formspree.io/f/xleqnvdy"
          method="POST"
          class="w-full text-accent"
        >
          <eui-col>
            <eui-col [rowStart]="'sm'">
              <eui-col>
                <label for="name">Name: </label>
                <input
                  class="rounded-md border-[1px]"
                  name="name"
                  type="text"
                  id="name"
                  required
              /></eui-col>
              <eui-col>
                <label for="email">Email: </label>
                <input
                  class="rounded-md border-[1px]"
                  name="email"
                  type="email"
                  id="email"
                  required
              /></eui-col>
            </eui-col>

            <label for="phone"
              >Phone number:
              <span class="text-sm opacity-70">optional</span></label
            >
            <input
              class="rounded-md border-[1px]"
              name="phone"
              type="number"
              id="phone"
            />
            <label for="message">Message: </label>
            <textarea
              class="rounded-md border-[1px]"
              name="message"
              type="text"
              id="message"
              required
            ></textarea>
            <eui-button
              type="submit"
              bgColor="Info"
              size="Medium"
              id="contact-submit"
              class="sm:mx-0"
            >
              Submit
            </eui-button>
          </eui-col>
        </form>
        <img
          src="/assets/images/me.webp"
          alt="me"
          class="w-full object-contain sm:w-2/5"
        />
      </eui-col>
    </eui-container>
  </eui-section>
</div>
