<div class="section bg-gradient-to-b from-white to-blue-50">
  <eui-section id="experience">
    <eui-container>
      <h2>Experience</h2>
      <div class="my-3 w-full text-accent" [innerHTML]="experience"></div>
      <div class="columns-1 break-inside-avoid sm:columns-2">
        @for (experience of experiences; track experience.count) {
          <app-experience-card
            class="m-3 break-inside-avoid"
            [experience]="experience"
          ></app-experience-card>
        }
      </div>
    </eui-container>
  </eui-section>
</div>
