<eui-section id="testimonial">
  <div class="eui-container">
    <h2>Testimonials</h2>
    <div class="carousel mx-auto w-full sm:w-4/5">
      @for (testimonial of testimonials; track $index) {
        <app-testimonial-card
          id="slide{{ $index }}"
          class="carousel-item relative m-1 w-full"
          [cardIndex]="$index"
          [testimonial]="testimonial"
          [length]="testimonials.length"
          tabindex="-1"
        ></app-testimonial-card>
      }
    </div>
  </div>
</eui-section>
