@if (experience) {
  <eui-section>
    <img
      src="{{ experience.acf.logo }}"
      alt="{{ experience.acf.firm }}"
      class="mt-20 max-h-32 w-full bg-white object-contain dark:bg-darkbg"
    />
    <eui-container class="single">
      <eui-col>
        <eui-col [rowStart]="'sm'">
          <h1 class="text-2xl font-bold text-primary">
            {{ experience.acf.firm }}
          </h1>
          <span class="mt-auto text-blue-400"
            >Started on {{ experience.acf.start_date }}
            @if (experience.acf.still_working == false) {
              ended at {{ experience.acf.end_date }}
            }
          </span></eui-col
        >
        <p [outerHTML]="experience.acf.description"></p>
      </eui-col>
    </eui-container>
  </eui-section>
} @else {
  <app-loading-content></app-loading-content>
}
